html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
  }

  .spacer {
    flex: 1 1 auto;
  }
  
  .main-container {
    padding: 16px;
  }

  .white-button {
    color: white !important;
    border-color: white !important;

    &:hover {
        background-color: rgba(255, 255, 255, 0.116) !important;
      }
  }
  